<ul class="breadcrumb">
  <% breadcrumb_url_map(@breadcrumbs).each do |e| %>
    <li class="<%= 'active' if last_breadcrumb?(@breadcrumbs, e.first) %>"><a href="<%= e.last %>"><%= e.first %></a> <span class="divider">/</span></li>
 <% end %>
</ul>
