<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Dirserve</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/app.css">
</head>

<body>
<div class="container">
  <div class="content">
  <div class="row">
    <div class="span14 offset1">
      <%= erb :breadcrumbs %>
    </div>
  </div>
  <div class="row">
    <div class="span14 offset1">
      <%= yield %>
   </div>
  </div>
</div>
<footer>
  <p>This directory brought to you by <a href="http://github.com/vinbarnes/dirserver">dirserver</a></p>
</footer>
</div>
</body>
</html>
